/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

#coordinates {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
